@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #152cc2;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #152cc2;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* global.css */
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

html,
body,
#__next {
  height: 100%;
}
